#parse("dashboard.html")
#@mainLayout()

#set($media = 0)
#foreach($episodes in $seasons.values())
    #set($media = $episodes.get(0).getMedia_id())
#end
<div class="seasons">
    <div class="row">
        #foreach($season in $seasons.keySet())
            #foreach($number in $season)
            <div class="col-sm season" style="max-width: 15%;">
                <a class="btn btn-outline-danger" href="/medias/$media/seasons/$number">Saison $number</a>
            </div>
            #end
        #end
    </div>
</div>

<div class="episodes">
    <div class="media-list">
        #foreach($episodes in $seasons.values())
            #foreach($episode in $episodes)
            <div class="item">
                <div class="video">
                    <div>
                        <iframe allowfullscreen="" frameborder="0" src="$episode.getTrailer_url()"></iframe>
                    </div>
                </div>
                <div class="title">
                    $episode.getTitle()
                </div>
            </div>
            #end
        #end
    </div>
</div>

#end