#parse("dashboard.html")
#@mainLayout()

<div class="headMedia">
    <div class="row">
        <div class="col" style="max-width: 40%;">
            <div class="row">
                <label class="col titleMedia">$media.getTitle().toUpperCase()</label>
            </div>
            <div class="row">
                <label class="col summaryMedia">$media.getSummary()</label>
            </div>
            #if($media.getType() == "série")
            <div class="row text-center">
                <div class="col">
                    <a class="btn btn-lg btn-outline-danger episodesButton" href="/medias/$media.getId()/seasons/1">Liste des épisodes</a>
                </div>
            </div>
            #end
        </div>
        <div class="col" style="text-align: center; max-width: 60%;">
            <iframe class="col trailerMedia" id="player" allowfullscreen="" frameborder="0" src="$media.getTrailerUrl()"></iframe>
        </div>
    </div>
</div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.getElementById('player');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementById('player')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        alert("coucou")
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

#end